﻿body {

}

.indicador {
    font-family: Arial;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    width: 150px;
    text-align: center;
}

h1 {
    font-family:Helvetica, sans-serif;
    font-weight: bold;
}

#calculadora {
    width: 450px;
    height: 250px;
    position:absolute;
    left: 46%;
    top:51%;
    transform: translate(-50%, -50%);
    margin: 50px;
    outline: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.textbox {
    border-radius: 10px;
    border: solid 1px black;
}